@mixin animateProd($times){
	-webkit-transition: all $times;
	-moz-transition: all $times;
	-ms-transition: all $times;
	-ms-transition: all $times;
	transition: all times;  
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden; 
	-ms-backface-visibility:hidden;
}
@mixin whiteSpace(){
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
@mixin flex-box{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin flex-child(){
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
}

#app{
	font-size: 1.67rem;
	text-align: center;
	padding: 0.67rem 0;
}